Repository eniblock/tezos-api-gateway: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, publish_helm

test:
  stage: test
  image: node:14.15.4-alpine3.12
  services:
  - postgres:13.1-alpine
  - rabbitmq:3-management-alpine
  variables:
    POSTGRES_DB: tezos_api_gateway_test
    POSTGRES_USER: tezos-service
    POSTGRES_PASSWORD: randompwd
    DB_HOST_TEST: postgres
    AMQP_URL: amqp://rabbitmq
  before_script:
  - npm i
  ...

publish_helm:
  stage: publish
  image: tbxdev/build-helm
  script:
  - helm registry login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - helm dependency update ./helm/tezos-api-gateway
  ...

more efficient docker build
  .dockerignore
  .gitlab-ci.yml
Due: none

sonarcloud setup
  .gitlab-ci.yml
  sonar-project.properties
Due: none

sonarcloud coverage
  .gitignore
  coverage/lcov.info
  sonar-project.properties
Due: none

fix wildcard
  sonar-project.properties
Due: none

Use the public version of xdev's vault
  helm/tezos-api-gateway/Chart.yaml
Due: publish_helm

property lcov added
  sonar-project.properties
Due: none

organization updated
  sonar-project.properties
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: none

update vault secret name
  helm/tezos-api-gateway/Chart.lock
  helm/tezos-api-gateway/Chart.yaml
  helm/tezos-api-gateway/templates/api/deployment.yaml
  helm/tezos-api-gateway/templates/generated-api/deployment.yaml
  helm/tezos-api-gateway/templates/injection-worker/deployment.yaml
  helm/tezos-api-gateway/templates/operation-status-worker/deployment.yaml
  helm/tezos-api-gateway/templates/send-transactions-worker/deployment.yaml
Due: publish_helm

Remove ad-hoc build script, obsoleted by tilt
  build.sh
Due: none

Add a clk command to update helm
  .clk/clk.json
  .clk/version.txt
Due: none

Remove docker-compose that we no longer maintain
  docker-compose.yml
Due: none

Use the to be tagged version in the chart
  helm/tezos-api-gateway/Chart.yaml
  helm/tezos-api-gateway/values.yaml
Due: publish_helm

Update the way we are supposed to install and develop on kubernetes
  README.md
Due: none

test snyk
  package.json
  yarn.lock
Due: test

fix variable name
  helm/tezos-api-gateway/values-dev.yaml
Due: publish_helm

expose some ports in tilt to ease local dev
  Tiltfile
Due: none

use the same docker, helm tag and app version
  .gitlab-ci.yml
Due: none

don't use the slug with git tags
  .gitlab-ci.yml
  helm/tezos-api-gateway/Chart.yaml
Due: publish_helm

test sonar
  src/processes/web/api/index.ts
Due: test

use the build image script in the docker job
  .gitlab-ci.yml
Due: none

Update index.ts
  src/processes/web/api/index.ts
Due: test

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

nc test
  src/processes/web/api/index.ts
Due: test

test done
  .gitlab-ci.yml
  src/processes/web/api/index.ts
Due: test

use the build image script in the helm job
  .gitlab-ci.yml
Due: none

fix
  .gitlab-ci.yml
Due: none

update vault dependency
  helm/tezos-api-gateway/Chart.lock
  helm/tezos-api-gateway/Chart.yaml
Due: publish_helm

sonarcloud badge
  README.md
Due: none

Update README.md
  README.md
Due: none

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event + Sonar
  src/config/openapi/spec/paths/jobs.ts
  src/const/interfaces/forge-operation-params.ts
  src/const/interfaces/send-transactions-params.ts
  src/const/interfaces/transaction.ts
  src/lib/jobs/forge-operation.ts
  src/lib/jobs/send-transactions.ts
  src/models/transactions.ts
  src/processes/generated-api-web/api/controllers/forge-job-controller.ts
  src/processes/generated-api-web/api/controllers/send-job-controller.ts
  src/processes/web/api/jobs/forge-job-controller.ts
  src/processes/web/api/jobs/send-job-controller.ts
  src/processes/workers/check-operation-status/lib/check-operation-status.ts
  src/services/postgre.ts
  test/integration/lib/jobs/forge-operation.test.ts
  test/integration/lib/jobs/inject-operation.test.ts
  test/integration/processes/check-operation-status/lib/check-operation-status.test.ts
  test/integration/processes/web/api/jobs/inject-job-controller.test.ts
  test/unit/models/transactions.test.ts
Due: test

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event -> prettier
  src/config/openapi/spec/paths/jobs.ts
  src/processes/generated-api-web/api/controllers/forge-job-controller.ts
  src/processes/generated-api-web/api/controllers/send-job-controller.ts
  src/processes/web/api/jobs/forge-job-controller.ts
  src/processes/web/api/jobs/send-job-controller.ts
Due: test

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event -> Tests errors
  test/integration/processes/check-operation-status/lib/check-operation-status.test.ts
  test/unit/models/transactions.test.ts
Due: none

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event -> Taking in account comment in Code Review
  src/processes/workers/check-operation-status/lib/check-operation-status.ts
  src/processes/workers/check-operation-status/lib/publish-confirmed-transaction-event.ts
  src/services/postgre.ts
  test/integration/processes/check-operation-status/lib/check-operation-status.test.ts
Due: test

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event -> tests failed
  src/services/clients/indexer-client.ts
  test/integration/processes/check-operation-status/lib/check-operation-status.test.ts
Due: test

TAG-100 : Add the Client ID of the caller to the API to follow a transaction from the forge to the confirmation event -> prettier
  src/services/clients/indexer-client.ts
Due: test

Path conditions:
  test: any of: src/**/*, test/*, *.json, *.js
  publish_helm: any of: helm/**/*
